#img-view{
    height: 85vh;
    background-color: #00A1D8;
    overflow: auto;
}

#text-view{
    height: 15vh;
    overflow: auto;
    background-color: #fff;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    margin-left: 6px;
    margin-right: 6px;
}

#text-loading{
    text-align: center;
    font-size: 18px; 
    padding-top: 4.5vh;
    color: #686868;

}

#text-main{
    text-align: center;
    font-size: 18px; 
    padding-top: 2vh;
    color: #686868;

}

#img-holder{
    padding-top: 10vh;
    overflow: auto;
    white-space: nowrap;
}

#img-holder #card {
    display: inline-block;
  }
