.fin-img{
    margin-top: 22px;
    width: 200px;
    height: auto;
    max-height: 230px;
}

#main-img{
    margin: 3px 25%;
    display: inline-block;
}

#word{
    font-weight: bold;
    font-size: 14px;
}

@media (min-width: 992px) { 
    #main-img{
        margin: 3px 10%;
    }
 }